.dashboard-content {
  padding-left: 310px;
}

.dashboard-title {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.dashboard-title h1 {
  font-weight: 500;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
}
