.primary-div {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-content {
  padding-left: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-title {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.dashboard-title h1 {
  font-weight: 500;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
}

.table-div {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.section-chart {
  margin-top: 60px;
}

.section-chart h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: -30px;
}

.div-charts {
  width: 95%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #130f10;
  background: linear-gradient(45deg, #130f10 89%, rgba(45, 181, 149, 0) 100%);
  box-shadow: 10px 10px 10px black;
  border-radius: 12px;
}

@media (max-width: 1400px) {
  .primary-div {
    flex-direction: column;
    padding-left: 70px;
  }

  .dashboard-content {
    width: 80%;
  }

  .section-chart {
    width: 970px;
  }

  .table-div {
    width: 910px;
    padding-left: 250px;
    margin-bottom: 60px;
    align-items: baseline;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .primary-div {
    padding: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .dashboard-content {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

  .dashboard-cards {
    width: 90%;
    justify-content: right;
    margin-left: 15px;
  }

  .section-chart {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .section-chart h2 {
    font-size: 18px;
    text-align: center;
  }

  .div-charts {
    width: 95%;
    flex-direction: column;
    margin-left: 8px;
  }

  .table-div {
    width: 95%;
    padding: 0;
    align-items: center;
  }
}
