.scroll {
  height: 100vh;
  overflow-x: hidden;
}

.expanse-container {
  padding-left: 320px;
  width: 80%;
  height: 100vh;
}

.form-container h1 {
  margin-bottom: 40px;
}

.form-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form input {
  width: 400px;
  height: 30px;
  padding-left: 4px;
  margin-bottom: 30px;
}

.input-form label {
  margin-bottom: 10px;
  color: #01C38D;
  font-family: 'Poppins', sans-serif;
}

.input-form textarea {
  width: 400px;
  height: 100px;
}

.btn-register-expanse {
  width: 402px;
  margin-top: 20px;
  height: 35px;
  background-color: #2d2f33;
  color: #01C38D;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.btn-register-expanse:hover {
  cursor: pointer;
  background-color: #313744;
}

@media(max-width: 1400px) {
  .form-container {
    align-items: start;
  }

  .inputs h1 {
    margin-top: 25px;
  }

  .input-form {
    margin-bottom: -10px;
  }

  .input-form input {
    width: 300px;
  }

  .input-form textarea {
    width: 308px;
  }

  .input-select {
    width: 308px;
  }

  .btn-register-expanse {
    width: 314px;
    margin-top: 25px;
  }

  .table-with-divs {
    margin-right: 80px;
    margin-bottom: 60px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .expanse-container {
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }

  .form-container {
    justify-content: center;
    align-items: center;
  }

  .table-with-divs {
    margin: 0;
    margin-bottom: 60px;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
