.expanse-container {
  padding-left: 320px;
  width: 80%;
  height: 100vh;
}

.form-container h1 {
  margin-bottom: 40px;
}

.form-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form input {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
}

.input-form label {
  margin-bottom: 10px;
  color: #01C38D;
  font-family: 'Poppins', sans-serif;
}

.input-form textarea {
  width: 400px;
  height: 100px;
}

.btn-register-expanse {
  width: 402px;
  margin-top: 20px;
  height: 35px;
  background-color: #2d2f33;
  color: #01C38D;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.btn-register-expanse:hover {
  cursor: pointer;
  background-color: #313744;
}
