.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input {
  padding: 8px 15px;
  margin-bottom: 1.5em;
  border-radius: 0;
  border: 1px solid #282c34;
}

.form input[type="submit"] {
  background-color: #02bb88;
  border: 1px solid #000;
  color: white;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
  margin-bottom: 5px;
}

.input_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input_container label {
  font-weight: bold;
  margin-bottom: .4em;
}

.btn-close {
  width: 400px;
  height: 30px;
  margin: 7px auto;
  background-color: red;
  color: #fff;
  border: none;
}

.btn-close:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .btn-close {
    width: 298px;
  }
}
