.spinner {
    border: 5px solid #DCDCDC;
    border-left-color: #00CC99;
	border-radius: 100%;
	height: 14px;
	width: 14px;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner.animated {
    animation: loading 2s cubic-bezier(0, .25, .7125, .1) infinite;
}