.expansive-table {
  width: 500px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expansive-table h2 {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 600px;
  margin-bottom: 30px;
}

td {
  padding: 5px;
  height: 80px;
  width: 100px;
}

th {
  height: 60px;
  color: #01C38D;
  font-family: 'Poppins', sans-serif;
}
