.donate-container {
  width: 100%;
  height: 100%;
}

.donate-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 60px;
}

.donate-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.donate-text h1 {
  margin-bottom: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
}

.donate-text p {
  text-align: justify;
  width: 80%;
  color: #8e99b2;
  font-size: 1.2em;
}

.donate-text-infos {
  margin-top: 80px;
}

.qrcode {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
}

.donate-img {
  width: 50%;
}

@media (max-width: 1400px) {
  .qrcode {
    width: 240px;
  }

  .donate-text-infos {
    margin-top: 40px;
  }

  .donate-text-infos h1 {
    width: 80%;
  }

  .donate-img img {
    width: 550px;
  }
}

@media (min-width: 750px) and (max-width: 1150px) {
  .donate-content {
    margin-top: 60px;
    margin-bottom: 130px;
  }

  .donate-text-infos {
    width: 100%;
  }

  .donate-text-infos p {
    font-size: 16px;
  }

  .donate-img {
    width: 50%;
    display: flex;
  }

  .donate-img img {
    width: 440px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .donate-content {
    flex-direction: column;
    width: 100%;
  }

  .donate-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .donate-text-infos {
    width: 90%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .donate-text-infos h1 {
    width: 100%;
  }

  .donate-text-infos p {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .donate-img {
    width: 100%;
  }

  .donate-img img {
    width: 100%;
  }
}
